body {
  background-color: #9197A3;
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

#wrapper {
  display: grid;
  border: solid #0F08AD 5px;
  background-color: #ffffff;
  margin-right: 13%;
  margin-left: 13%;
}

footer {
  border-top: solid #0F08AD 5px;
  background-color: #EB0101;
  padding: 5px;
  padding-left: 30px;
}

header {
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

h1 {
  margin-left: 3%;
  color: #03C2F5;
  font-style: italic;
  font-family: calibri;
}

nav {
  width: 100%;
  background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}


nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

nav li {
  padding: 0px;
  width: 25%;
  color: #000000;
  display: inline-block;
}

nav li a {
  color: #03C2F5;
  display: block;
  padding: 15px;
  background-color: #42cc00;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  font-family: calibri;
  font-size: 20px;
  font-weight: bold;
}

nav li a:hover {
  background-color: #008400;
  background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}


h2 {
  border-bottom: solid #0F08AD 3px;
  color: #1371F5;
  font-family: calibri;
}


#nolink {
  color: #03C2F5;
  display: block;
  padding: 15px;
  background-color: #42cc00;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  font-family: calibri;
  font-size: 20px;
  font-weight: bold;
}

#first {
  font-weight: bold;
}

a:hover {
  color: #0001EB;
}

.house {
  text-decoration: none;
  color: #EB0901;
  font-weight: bold;
}

.number {
  text-decoration: none;
  color: #EB0901;
  font-weight: bold;
}

.building {
  float: left;
  margin-bottom: 3%;
  margin-right: 3%;
  border: solid #0F08AD 3px;
}
